/* css styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.05rem;
    line-height: 1.6;
    max-width: 900px;
    margin: auto;
    padding: 20px;
  }
  
  h1, h2, h3, h4, h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }
  
  .github-banner a {
    font-family: 'Poppins', sans-serif;
  }
  